body {
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: right;
    margin-right: 10%;
    color: darkblue;
    text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
}
.container{
    width: 100%;
    padding-right: 0px;
    margin-right: 0;
    margin-left: 10px;
}
.row{
    height:290px;
    margin: 0;
}
#wolverineCol{
    height: 200px;
    background: white;
    float: left;
    border-style: solid;
    border-width: 5px;
    border-color: darkred;
}
#daredevilCol{
    height: 200px;
    background: white;
    float: left;
    border-style: solid;
    border-width: 5px;
    border-color: darkred;
}
#hulkCol{
    height: 200px;
    background: white;
    float: left;
    border-style: solid;
    border-width: 5px;
    border-color: darkred;
}
#deadpoolCol{
    height: 200px;
    background: white;
    float: left;
    border-style: solid;
    border-width: 5px;
    border-color: darkred;
}
.mutantImage{
    width: 175px;
}
.text-name{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 25px;
}   
.health{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}
#yourCharacter{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 1125px;
    font-size: 25px;
    color: white;
    float: left;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
}
.btn{
    float: left;
    margin-left: 25px;
    height: 35px;
    font-weight: bold;
}
.mutantPicture{
    flex: auto;
    width: 175px;
    height: 140px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}